@font-face {
  font-family: "Top Secret";
  src: url("./fonts/Top Secret.woff") format("woff"); /* Adjust the path as necessary */
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #003366; /* Dark blue background */
  color: white;
  padding: 15px;
  border-radius: 50%; /* Circular shape */
  border: 3px solid #003366; /* Dark blue border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  transition: all 0.3s ease;
}

.message-icon:hover {
  background-color: #002244; /* Darker blue on hover */
  border-color: #002244; /* Darker blue border on hover */
  transform: scale(1.1); /* Slightly larger on hover */
}

.message-icon i {
  color: white;
}
